@page
@model ChoreMgr.Pages.Chores.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Chore</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Chore.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Chore.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Chore.LastDone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Chore.LastDone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Chore.IntervalDays)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Chore.IntervalDays)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Chore.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
