@page
@model ChoreMgr.Pages.Chores.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Job ID:@Model.JobModel.Id</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="JobModel.Id" />
            <div class="form-group">
                <label asp-for="JobModel.Name" class="control-label"></label>
                <input asp-for="JobModel.Name" class="form-control" />
                <span asp-validation-for="JobModel.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="JobModel.Category" class="control-label"></label>
                <input asp-for="JobModel.Category" class="form-control" />
            </div>
            <div class="form-group">
                <label class="control-label">Interval (days)</label>
                <input asp-for="JobModel.IntervalDays" class="form-control" />
                <span asp-validation-for="JobModel.IntervalDays" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Last Done</label>
                <input asp-for="JobModel.LastDone" class="form-control" />
                <span asp-validation-for="JobModel.LastDone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.JobModel.Logs[0].Updated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JobModel.Logs[0].DoneDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JobModel.Logs[0].Note)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.JobModel.Logs) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Updated)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DoneDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Note)
            </td>
        </tr>
        }
    </tbody>
</table>

<div>
    <a asp-page-handler="Delete" asp-route-id="@Model.JobModel.Id">Delete</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
