@page
@model ChoreMgr.Pages.Chores.IndexModel

@{
    ViewData["Title"] = "Chores";
}

<h1>Chores from @Model.ContextName</h1>
<p>
    @if (Model.IsDebug)
    {
        <div style="float: right">
            <a asp-page-handler="ProdSync">Prod Sync</a>  <br />
            <a asp-page-handler="Backup">Backup</a>  <br />
            //<a asp-page-handler="Restore">Restore</a>  <br />
        </div>
    }

    <a asp-page="./Journal">Summary: @Model.Summary</a> <br />
    Pending: @Model.Pending</p> 
<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.JobList[0].Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JobList[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JobList[0].IntervalDays)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JobList[0].LastDone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JobList[0].NextDo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.JobList) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IntervalDays)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastDone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NextDo)
            </td>
            <td>
                <a asp-page-handler="Today" asp-route-id="@item.Id">Today</a>
                <a asp-page-handler="Yesterday" asp-route-id="@item.Id">Yest</a>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a>
            </td>
        </tr>
}
    </tbody>
</table>
