@page
@model ChoreMgr.Pages.Chores.IndexModel

@{
    ViewData["Title"] = "Chores";
}
<script>
    console.log("onload called"); // Do not send to your backend! Use an ID token instead.
    document.cookie = "yo=yoyo";
</script>
<h1>Chores </h1>
<p>
    <div style="float: right">
        @if (Model.IsDebug)
        {
            <a asp-page-handler="ProdSync">Prod Sync</a>  <br />
        }
        <a asp-page-handler="Backup">Backup</a>  <br />
    </div>

    <a asp-page="./Journal">Summary: @Model.Summary</a> <br />
    Pending: @Model.Pending</p> 
<p>
    <a asp-page="Create">Create New</a> |
    <a asp-page="./Index" asp-route-forWhom="D">D</a>
    <a asp-page="./Index" asp-route-forWhom="C">C</a>
    <a asp-page="./Index" asp-route-forWhom="A">A</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.JobList[0].Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JobList[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JobList[0].ForWhom)
            </th>
            <th style="text-align:center;">
                @Html.DisplayNameFor(model => model.JobList[0].IntervalDays)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JobList[0].LastDone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JobList[0].NextDo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.JobList) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td style=@item.WebStyle>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td style="text-align:center;">
                @Html.DisplayFor(modelItem => item.ForWhom)
            </td>
            <td style="text-align:center;">
                @Html.DisplayFor(modelItem => item.IntervalDays)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastDone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NextDo)
            </td>
            <td>
                <a asp-page-handler="Today" asp-route-id="@item.Id">Today</a>
                <a asp-page-handler="Yesterday" asp-route-id="@item.Id">Yest</a>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a>
            </td>
        </tr>
}
    </tbody>
</table>
@Model.ContextName
    