@page
@model ChoreMgr.Pages.Chores.JournalModel

@{
    ViewData["Title"] = "Journal";
}

<h1>Journal</h1>
@if(Model.DailyList != null)
{
 <table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DailyList[0].DoneDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DailyList[0].Count)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.DailyList) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DoneDate)
            </td>
            <td>
                <a asp-page-handler="ByDay" asp-route-date="@item.DoneDate">@Html.DisplayFor(modelItem => item.Count)</a>
            </td>
        </tr>
}
    </tbody>
</table>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.JobLogList[0].Updated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JobLogList[0].JobId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JobLogList[0].JobName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JobLogList[0].DoneDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JobLogList[0].Note)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.JobLogList) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Updated)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JobId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JobName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DoneDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Note)
            </td>
        </tr>
}
    </tbody>
</table>
